#wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar-wrapper {
    min-height: 100vh;
    margin-left: -15rem;
    transition: margin 0.25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
    width: 15rem;
}

#wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
}

#page-content-wrapper {
    width: 100%;
    padding: 20px;
}

.navbar {
    padding-left: 1rem;
    padding-right: 1rem;
}

@media only screen and (max-width: 768px)
{
    

    #wrapper.toggled #sidebar-wrapper {
        margin-top: 0;
    }
    #sidebar-wrapper {
        margin-top: -15rem;
        transition: margin 0.25s ease-out;
    }
    
}